# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

mstock-server/node_modules
mstock-server/counterSqlite.sqlite
mstock-server/stockCounterSqlite.sqlite
mstock-server/loggingSqlite.sqlite

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.laravel-guide
*.nuxt-guide
*.sqlite
